:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #111111;
}

:root[data-theme="dark"] {
  --bg-color: #1f1f1f;
  --text-color: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.add-transition {
  transition: all 0.4s ease-in-out;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
  padding: 10px;
  width: 100vw;
}

.dashboard-layout-children {
  flex: 1;
  width: 100%;
  padding: 20px 5px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.rounded-selection .ant-menu-item.ant-menu-item-selected {
  border-radius: 200px;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: light;
  } */
}
